primary = #deadbe
$secondary = tomato
accent-color = rgb(9, 8, 7)

body
  color primary
  background #cafe00
  border-color rgba(1, 2, 3, 0.5)

.badge
  color: #fedcba
  background: hsl(45, 80%, 60%)
